@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${secondHandCarDetail.id!}">
            <input type="hidden" id="carId" value="${secondHandCar.carId!}">

            <div class="row">
                <div class="col-sm-6 b-r" id="itemsArea">
                    <#input id="airDisplacement" name="排放量" underline="true" value="${secondHandCarDetail.airDisplacement!}" />
                    <#input id="gearbox" name="变速箱类型" underline="true" value="${secondHandCarDetail.gearbox!}" />
                    <#input id="seller" name="售卖者" underline="true" value="${secondHandCarDetail.seller!}"/>
                    <#input id="sellerJob" name="售卖者职业" underline="true"  value="${secondHandCarDetail.sellerJob!}"/>
                    <#input id="transferNum" name="过户次数" underline="true" value="${secondHandCarDetail.transferNum!}"/>
                    <#input id="cardCity" name="车牌所在地" underline="true" value="${secondHandCarDetail.cardCity!}" />
                    <#input id="districtName" name="所在区名" underline="true" value="${secondHandCarDetail.districtName!}" />
                    <#input id="sellerDescription" name="卖家描述" underline="true" value="${secondHandCarDetail.sellerDescription!}" />
                    <#input id="auditDate" name="年检到期描述" underline="true" value="${secondHandCarDetail.auditDate!}"/>
                    <#input id="strongInsuranceDate" name="交强险到期描述" underline="true"  value="${secondHandCarDetail.strongInsuranceDate!}"/>
                    <#input id="insuranceDate" name="商业险到期描述" underline="true" value="${secondHandCarDetail.insuranceDate!}"/>

                    <#button btnCss="info" name="增加检测详细项目" icon="fa-plus" clickFun="SecondHandCarInfoDlg.addSecondHandCarEvaluateItems()"/>
                    @for(item in secondHandCarEvaluateItemList){
                    <div class="form-group" name="secondHandCarEvaluateItem" id="secondHandCarEvaluateItem${itemLP.index}">
                        <label class="col-sm-2 control-label" style="width: 12%;">名称</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="title" value="${item.title}">
                        </div>
                        <label class="col-sm-2 control-label" style="width: 12%;">成功数量</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="count" value="${item.count}">
                        </div>
                        <label class="col-sm-2 control-label" style="width: 12%;">失败数量</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="faile" value="${item.faile}">
                        </div>
                        <div class="col-sm-4">
                            <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="SecondHandCarInfoDlg.deleteItem(event)"/>
                        </div>
                    </div>
                    @}
                </div>

                <div class="col-sm-6" id="driverInfoContent">
                    <input type="hidden" id="thumbSize" value="${secondHandCarHighlightConfigItemsList.~size!0}" />
                    <#input id="dealPrice" name="折让价" underline="true" value="${secondHandCarDetail.dealPrice!}" />
                    <#input id="newPrice" name="新车价格" underline="true" value="${secondHandCarDetail.newPrice!}" />
                    <#input id="useDate" name="使用年限" underline="true" value="${secondHandCarDetail.useDate!}" />
                    <#input id="followNum" name="关注人数" underline="true" value="${secondHandCarDetail.followNum!}" />
                    <#input id="emissionStandard" name="排放标准" underline="true" value="${secondHandCarDetail.emissionStandard!}" />
                    <#input id="emissionStandardDesc" name="排放标准提示" underline="true" value="${secondHandCarDetail.emissionStandardDesc!}" />
                    <#input id="emissionStandardsUrl" name="排放标准提示h5 url" underline="true" value="${secondHandCarDetail.emissionStandardsUrl!}" />
                    <#input id="hegeIcon" name="合格证图标" underline="true" value="${secondHandCarDetail.hegeIcon!}" />
                    <#input id="evaluatorDesc" name="检测描述" underline="true" value="${secondHandCarDetail.evaluatorDesc!}" />
                    <#input id="phone" name="联系电话" underline="true" value="${secondHandCarDetail.phone!}" />

                    <#button btnCss="info" name="增加高配属性项目" icon="fa-plus" clickFun="SecondHandCarInfoDlg.addSecondHandCarHighlightConfigItem()"/>
                    @for(highlightConfigItem in secondHandCarHighlightConfigItemsList){
                    <div class="form-group" name="secondHandCarHighlightConfigItem" id="secondHandCarHighlightConfigItem${highlightConfigItemLP.index}">
                        <label class="col-sm-2 control-label" style="width: 12%;">高配属性名称</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="title" value="${highlightConfigItem.title}">
                        </div>
                        <div class="col-sm-4">
                            <#avatar id="image${highlightConfigItemLP.index}" name="高配属性图片" underline="true" avatarImg="${highlightConfigItem.image}"/>
                        </div>
                        <div class="col-sm-2" style="width: 12%;">
                            <#select id="isAdd" name="是否是加装" underline="true" value="${highlightConfigItem.isAdd}">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </#select>
                        </div>
                        <div class="col-sm-2">
                            <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="SecondHandCarInfoDlg.deleteItem(event)"/>
                        </div>
                    </div>
                    @}
                </div>

            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SecondHandCarInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SecondHandCarInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/template" id="evaluateItem">
    <div class="form-group" name="secondHandCarEvaluateItem" id="secondHandCarEvaluateItem">
        <label class="col-sm-2 control-label" style="width: 12%;">名称</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="title">
        </div>
        <label class="col-sm-2 control-label" style="width: 12%;">成功数量</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="count">
        </div>
        <label class="col-sm-2 control-label" style="width: 12%;">失败数量</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="faile">
        </div>
        <div class="col-sm-4">
            <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="SecondHandCarInfoDlg.deleteItem(event)"/>
        </div>
    </div>
</script>

<script type="text/template" id="highLightConfigItem">
    <div class="form-group" name="secondHandCarHighlightConfigItem" id="secondHandCarHighlightConfigItem">
        <label class="col-sm-2 control-label" style="width: 12%;">高配属性名称</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="title">
        </div>
        <div class="col-sm-4">
            <#avatar id="image" name="高配属性图片" underline="true" />
        </div>
        <div class="col-sm-2" style="width: 12%;">
            <#select id="isAdd" name="是否是加装" underline="true" >
                <option value="1">是</option>
                <option value="0">否</option>
            </#select>
        </div>
        <div class="col-sm-2">
            <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="SecondHandCarInfoDlg.deleteItem(event)"/>
        </div>
    </div>
</script>
<script src="${ctxPath}/static/modular/platform/secondHandCar_detail.js"></script>
@}
