<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle"
                               @if(isEmpty(avatar)){
                               src="${ctxPath}/static/img/girl.gif"
                               @}else{
                               src="${ctxPath}/kaptcha/${avatar}"
                               @}
                               width="64px" height="64px"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="${ctxPath}/user/user_info">个人资料</a></li>
                        <li><a class="J_menuItem" href="${ctxPath}/user/user_chpwd">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="${ctxPath}/logout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">GS
                </div>
            </li>

            @for(menuNode in menuNodeList){
                @if(tool.isEmpty(menuNode.children)){
                <li>
                    <a class="J_menuItem" href="${ctxPath}${menuNode.url}" name="tabMenuItem">
                        <i class="fa ${menuNode.icon}"></i>
                        <span class="nav-label">${menuNode.name}</span>
                    </a>
                </li>
                @}else{
                <li>
                    <a href="#">
                        <i class="fa ${menuNode.icon}"></i>
                        <span class="nav-label">${menuNode.name}</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        @for(subMenuNode in menuNode.children){
                            @if(tool.isEmpty(subMenuNode.children)){
                            <li>
                                <a class="J_menuItem" href="${ctxPath}${subMenuNode.url}" name="tabMenuItem">${subMenuNode.name}</a>
                            </li>
                            @}else{
                            <li>
                                <a href="#">${subMenuNode.name} <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    @for(thirdMenuNode in subMenuNode.children){
                                    <li>
                                        <a class="J_menuItem" href="${ctxPath}${thirdMenuNode.url}" name="tabMenuItem">${thirdMenuNode.name}</a>
                                    </li>
                                    @}
                                </ul>
                            </li>
                            @}
                        @}
                    </ul>
                </li>
                @}
            @}

        </ul>
    </div>
</nav>